<div class="items">

      <h1>{{ title }}</h1>
      <p>app is running</p>
      <ul>
            <li>Request(Get) data </li>
            @if ( apiData) {
            <ul>
                  <li>userId : {{ apiData.userId }}</li>
                  <li>id : {{ apiData.id }}</li>
                  <li>title : {{ apiData.title }}</li>
                  <li>completed : {{ apiData.completed }}</li>
            </ul>
            }
      </ul>
      <button (click)="getApiData()"> Resquest</button>
</div>
<div class="loading" *ngIf="isLoading$ | async">
      <h1>Please wait...</h1>
      <div></div>
</div>